//
//  app.xcconfig
//  Lock-Watcher
//
//  Created by Vitalii Parovishnyk on 30.05.2023.
//  Copyright © 2023. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Packaging
INFOPLIST_FILE = Resources/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(APP_DOMAIN).$(APP_NAME)

//Signing
CODE_SIGN_ENTITLEMENTS = Resources/entitlements/Lock_Watcher-non-mas.entitlements
ENABLE_HARDENED_RUNTIME = YES

//Deployment
COMBINE_HIDPI_IMAGES = YES
DEVELOPMENT_ASSET_PATHS = "Resources/Preview Content"

//Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

//Localization
SWIFT_EMIT_LOC_STRINGS = YES

//Swift Compiler - Custom Flags
OTHER_SWIFT_FLAGS = -DNON_MAS_CONFIG

INFOPLIST_KEY_NSFaceIDUsageDescription = To unlock access to database data
INFOPLIST_KEY_NSCameraUsageDescription = Detect persone who is trying get access to your user
INFOPLIST_KEY_NSLocationUsageDescription = Add location information to the snapshot to know where it was taken
