//
//  test-release.xcconfig
//  Lock-Watcher
//
//  Created by Vitalii Parovishnyk on 30.05.2023.
//  Copyright © 2023. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../release.xcconfig"
#include "test.xcconfig"
