//
//  app.xcconfig
//  Lock-Watcher
//
//  Created by Vitalii Parovishnyk on 30.05.2023.
//  Copyright © 2023. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Packaging
INFOPLIST_FILE = Resources/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(APP_DOMAIN).$(APP_NAME)

//Signing
CODE_SIGN_ENTITLEMENTS = Resources/entitlements/Lock_Watcher.entitlements
ENABLE_HARDENED_RUNTIME = YES
ENABLE_APP_SANDBOX = YES
ENABLE_INCOMING_NETWORK_CONNECTIONS = YES
ENABLE_OUTGOING_NETWORK_CONNECTIONS = YES
ENABLE_RESOURCE_ACCESS_CAMERA = YES
ENABLE_RESOURCE_ACCESS_LOCATION = YES
ENABLE_USER_SELECTED_FILES = readwrite

//Deployment
COMBINE_HIDPI_IMAGES = YES
DEVELOPMENT_ASSET_PATHS = "Resources/Preview Content"

//Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_APPICON_NAME = icon

//Localization
SWIFT_EMIT_LOC_STRINGS = YES

INFOPLIST_KEY_NSFaceIDUsageDescription = To unlock access to database data
INFOPLIST_KEY_NSCameraUsageDescription = Detect persone who is trying get access to your user
INFOPLIST_KEY_NSLocationUsageDescription = Add location information to the snapshot to know where it was taken
